<div class="container">
  <div class="container2">
    <div class="imagen">
      <!-- Aquí puedes agregar una imagen si lo deseas -->
    </div>
    <div class="unauthorized">
      <h1>Acceso no autorizado</h1>
      <h1 class="info">No tienes permisos para acceder a esta página.<br> Comunícate con un administrador para gestionar tus permisos.</h1>
      <button mat-raised-button color="warn" (click)="cerrarSesion()">Cerrar Sesión</button>
      <button mat-raised-button color="primary" (click)="volver()">Volver</button>
    </div>
  </div>
</div>
