<ng-container *ngIf="loading; else content">
  <img src="../../../../assets/loader.gif" alt="Loader" style="width: 100px; margin: 130px;">
</ng-container>

<ng-template #content>
  <ng-container *ngIf="muelles_disponibles.length > 0; else NoMuelles">
    <div *ngIf="citas_dia.length > 0; else noCitasMensaje" class="table-container">
       <table class="table table-striped table-bordered">
        <!-- Encabezados de la tabla -->
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora Inicio</th>
            <th scope="col">Hora Final</th>
            <th scope="col">Muelle</th>
            <th scope="col">Usuario</th>
            <th scope="col">Vehículo</th>
          </tr>
        </thead>

        <!-- Contenido de la tabla -->
        <tbody [@fadeInOut]>
          <ng-container *ngFor="let cita of citas_dia">
            <tr (click)="toggleCitaDetails(cita)" class="cita">
              <td>{{ cita.id }}</td>
              <td>{{ cita.fecha | date:'yyyy-MM-dd'}}</td>
              <td>{{ cita.franjas.horaInicio | date:'HH:mm' }}</td>
              <td>{{ cita.franjas.horaFinal | date:'HH:mm'}}</td>
              <td>{{ cita.muelles.nombre }}</td>
              <td>{{ cita.usuario }}</td>
              <td>{{ cita.descripcionVehiculo }}</td>
            </tr>
            <tr *ngIf="selectedCita === cita">
              <td colspan="7" class="informacion desplegar-info">
                <p>Información de los pedidos de la reserva {{ selectedCita.id }}:</p>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Mercancía</th>
                      <th scope="col">Palets</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pedido of getCitaPedidos(selectedCita)">
                      <td>{{ pedido.mercancia }}</td>
                      <td>{{ pedido.palets }}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #noCitasMensaje>
    <h2>No hay reservas para este día.</h2>
  </ng-template>

  <ng-template #NoMuelles>
    <h2>No hay muelles disponibles.</h2>
  </ng-template>
</ng-template>
